@reference "../../../../../../../src/app/globals.css";

.sidebarWrapper {
  @apply w-[200px] flex flex-col;
  z-index: 5;
  background-color: var(--background);
  perspective: 1000px;
  -webkit-perspective: 1000px;
  transform-style: preserve-3d;
}

.brandHeader {
  @apply h-16 flex items-center py-5 px-6;
  background-color: var(--background-color-primary);
  border-color: var(--foreground);
}

.brandContainer {
  @apply flex items-center gap-3;
}

.logoContainer {
  @apply h-8 w-8 rounded-xs;
  background-color: var(--background-color-primary);
}

.logoText {
  color: var(--foreground);
}

.brandName {
  color: var(--foreground);
}

.content {
  @apply flex flex-1 flex-col gap-2;
}

.sectionTitle {
  @apply px-3 ps-5  pt-3 text-[11px] font-medium uppercase tracking-wider;
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  border-color: var(--foreground);
}

.navItem {
  @apply flex items-center gap-3 px-3 ps-5 py-2.5 text-sm cursor-pointer;
  background-color: var(--background-color-primary);
  border-color: var(--foreground);
}

.navItemActive {
  font-weight: 500;
  background-color: var(--background-color-primary);
  color: var(--foreground);
}

.navItemActive:hover {
  @apply bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-gray-100;
}

.navItemInactive {
  color: var(--text-color-primary);
}

.navItemInactive:hover {
  @apply bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100;
}

.label {
  @apply flex-1;
}

.badge {
  @apply px-2 py-0.5 rounded-full text-xs font-medium;
}

.badgeActive {
  background-color: var(--background-color-primary);
  color: var(--foreground);
}

.badgeInactive {
  background-color: var(--background);
  color: var(--text-color-primary);
}

.footer {
  transform-style: preserve-3d;
  @apply rounded-bl-xs;
}

.logoutButton {
  @apply w-full flex items-center gap-3 p-4 text-sm;
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
}

.logoutButton:hover {
  @apply text-red-600 dark:text-red-400;
}

.logoutIcon {
  @apply flex-shrink-0;
}

.logoutText {
  @apply font-medium;
}